import asyncio
from pyppeteer import launch

async def generate_wallpaper(output_path, hostname):
    browser = await launch(args=['--no-sandbox'])
    page = await browser.newPage()

    # Set the viewport size to the desired wallpaper dimensions
    await page.setViewport({'width': 1920, 'height': 1080})

    # Open a new HTML page
    await page.setContent('''
        <html>
            <body style="background-color: black;">
                <div id="hostname" style="color: white; font-size: 80px; position: absolute; top: 10px; right: 10px;">
                    ''' + hostname + '''
                </div>
            </body>
        </html>
    ''')

    # Wait for a moment to allow rendering
    await asyncio.sleep(2)

    # Capture a screenshot of the page with the hostname rendered on it
    await page.screenshot({'path': output_path, 'fullPage': True})

    await browser.close()

if __name__ == "__main__":
    import socket

    # Get the hostname of the machine
    hostname = socket.gethostname()

    # Specify the output path for the generated wallpaper image
    output_path = "/home/ansible/wallpaper.png"

    # Run the asynchronous function in the event loop
    asyncio.get_event_loop().run_until_complete(generate_wallpaper(output_path, hostname))
